.container
  width: 1000px
  margin: 0 auto

// Header

.nav
  font-family: arial
  text-align: center

  ul
    height:  60px
    margin: 0
    padding: 0

    li
      display: inline-block
      height: 60px
      margin: 0
  a
    text-decoration: none
    line-height: 60px
    padding: 0 15px
    &:hover
      text-decoration: underline

.nav--primary
  background-color: #124385
  li
    width: 150px
    &:nth-child(3)
      margin-right: 150px
  a
    color: #fff

.nav--secondary
  margin-bottom: 60px
  background-color: #E5EBEE
  a
    color: #133944

// Footer

.app__ft
  font-family: arial
  overflow: hidden
  font-size: 12px
  background-color: #E5EBEE
  margin-top: 50px
  padding: 20px 0

// Vertical nav

.v-nav
  margin-bottom: 20px
  ul
    margin: 0
    padding: 0
  li
    margin: 0
    padding: 10px 0
  a
    text-decoration: none
    color: #1E344C
    &:hover
      text-decoration: underline

.v-nav__hd
  text-transform: uppercase
    margin-bottom: 20px
