- footer_navigation = ['Section1', 'Section2', 'Section3', 'Section4', 'Section5', 'Section6']
.v-nav
  %header.v-nav__hd
    %h3 Another nav
  %ul.v-nav__bd
    - footer_navigation.each do |item|
      %li
        %a{href: '#'}
          = item