- primary_navigation = ['Home', 'Destinations', 'Shop', 'Hotels', 'Flights', 'Contact']
- secondary_navigation = ['Images', 'Video', 'Games']

%img.logo{src: "images/logo.png"}
%nav.h-nav.h-nav--primary
  %ul
    - primary_navigation.each do |item|
      %li
        %a{href: '#'}
          = item

%nav.h-nav.h-nav--secondary
  %ul
    - secondary_navigation.each do |item|
      %li
        %a{href: '#'}
          = item
