body {
  font-family: Georgia;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
  color: #133944;
}

img {
  max-width: 100%;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  float: left;
  margin-left: 1%;
}
.col:first-child {
  margin-left: 0;
}

.col--span-12 {
  width: 100%;
}

.col--span-11 {
  width: 91.5%;
}

.col--span-10 {
  width: 83%;
}

.col--span-9 {
  width: 74.5%;
}

.col--span-8 {
  width: 66%;
}

.col--span-7 {
  width: 57.5%;
}

.col--span-6 {
  width: 49%;
}

.col--span-5 {
  width: 40.5%;
}

.col--span-4 {
  width: 32%;
}

.col--span-3 {
  width: 23.5%;
}

.col--span-2 {
  width: 15%;
}

.col--span-1 {
  width: 6.5%;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.nav {
  font-family: arial;
  text-align: center;
}
.nav ul {
  height: 60px;
  margin: 0;
  padding: 0;
}
.nav ul li {
  display: inline-block;
  height: 60px;
  margin: 0;
}
.nav a {
  text-decoration: none;
  line-height: 60px;
  padding: 0 15px;
}
.nav a:hover {
  text-decoration: underline;
}

.nav--primary {
  background-color: #124385;
}
.nav--primary li {
  width: 150px;
}
.nav--primary li:nth-child(3) {
  margin-right: 150px;
}
.nav--primary a {
  color: white;
}

.nav--secondary {
  margin-bottom: 60px;
  background-color: #e5ebee;
}
.nav--secondary a {
  color: #133944;
}

footer {
  font-family: arial;
  overflow: hidden;
  font-size: 12px;
  background-color: #e5ebee;
  margin-top: 50px;
  padding-top: 20px;
}
footer nav {
  margin-bottom: 20px;
}
footer h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0;
  display: block;
  padding: 10px 0;
}
footer a {
  text-decoration: none;
  color: #1e344c;
}
footer a:hover {
  text-decoration: underline;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -41px;
  top: 9px;
}

.button {
  background-color: #1e344c;
  padding: 10px;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox .lightboxImage {
  position: absolute;
  left: 30%;
  top: 30%;
  border: 10px solid white;
}

.read-more-container {
  margin-top: 30px;
  height: 400px;
  overflow: hidden;
  line-height: 1.5;
}
.read-more-container h2 {
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.card-group {
  margin-top: 50px;
}

.card__hd {
  margin-bottom: 20px;
}

.card__img-container {
  height: 150px;
  overflow: hidden;
}
